* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('fondo.jpeg');
    background-size: cover;
}

header {
  background-color: #f4f4f4; 
  padding: 20px; 
  text-align: center; 
}

nav {
  background-color: #fff; 
  padding: 10px; 
}

nav ul {
  list-style: none; 
  padding: 0; 
  display: flex; 
  justify-content: center; 
}

nav ul li {
  margin: 0 15px; 
}

nav ul a {
  text-decoration: none; 
  color: #333; 
}

main {
  flex: 1; 
  padding: 20px;
}

footer {
  background-color: #fff; 
  color: #333; 
  text-align: center; 
  padding: 10px; 
}

.login {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login h1 {
    margin-bottom: 20px;
    color: #333;
}

.login .logo img {
    width: 250px; 
    margin-bottom: 20px;
}

.login label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #218838;
}
